.content {
    width: var(--content-width);
    background-color: rgb(134, 134, 181);
    // height: 200vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .main-container:nth-child(2) {
        // margin-top: var(--header-height);
    }
}
