@media (min-width: 991.98px) {
  .mobile {
    display: none !important; /* Hide on desktop */
  }
}

.menu-border {
  border-bottom: 1px solid lightgray;
}

.menuIcons,
.collectionsIcons{
  filter: none;
}

.offcanvas-header {
  align-items: start;
  justify-content: center;
  padding: 0;

  .offcanvas-title {
    width: 100%;
    text-align: center;
    padding: 18px 20px;
    cursor: pointer;
    gap: 0.5em;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    justify-content: flex-start;

    &.active {
      background-color: #e8e8e8de;
    }
  }

  @media (min-width: 991.98px) {
    .offcanvas-title {
      width: 100% !important;
    }
  }
}
.count-bg {
  background-color: #f556b8;
}
.collections-modal {
  width: 19em !important;
  z-index: 9999;
  height: 100% !important;

  .header {
    img {
      position: relative;
      height: 2vw;
      width: unset;
    }
  }

  font-size: larger;

  display: flex;
  flex-direction: column;
  img {
    width: 10%;
  }

  img.dropdown {
    width: 5% !important;
    rotate: 270deg;
  }

  .body {
    text-transform: uppercase;
    font-weight: 500;
    margin-left: 30px;
    margin-top: 25px;
    .item {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px 15px;
      gap: 0.55em;
      margin-left: 25px;
      img {
        width: calc(100vw * 0.04 * 0.5);
        margin-right: 10px;
      }
    }
    .item:hover {
      color: #f556b8;
    }
  }

  .simplebar-content {
    display: flex;
    flex-direction: column;

    img {
      width: 10%;
    }
  }
}

.collections-modal.extended {
  .header {
    width: calc(100% + 18em);
  }
}

li.nav-item {
  cursor: pointer;
}

.details-modal {
  .offcanvas-title {
    gap: 0.5em;
    width: 100%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    border-top-right-radius: 20px;
  }
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  width: 18em !important;
  position: fixed;
  left: 18.8em !important;
  border-left: 0px !important;

  font-size: larger;

  .header {
    .box {
      height: 1.5em;
    }

    img {
      position: relative;
      width: 2vw;
    }
  }

  .projects {
    padding: 0px 0px 0px 19px;
    display: flex;
    flex-direction: column;
    gap: 1em;

    .items {
      display: flex;
      flex-direction: column;
      gap: 0.7em;

      .item {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 0.4em;

        img {
          width: 10%;
        }
      }
      .item:hover {
        color: #f556b8;
      }
    }
  }
}

[data-bs-theme="dark"] {
  .collectionsIcons{
    filter: invert(0.5);
  }
  .menuIcons{
    filter: invert(0.3);
  }

  .offcanvas-header {
    .offcanvas-title {
      &.active {
        color: black;
      }
    }
  
  }
}

@media (max-width: 500px) {
  .collections-modal {
    width: 18em !important;
    padding: 0 5px !important;

    .body {
      margin-left: 0px;
      .item {
        padding: 0.5rem !important;
        margin-left: 8px;
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
      .item img {
        width: 6vw;
      }
    }
  }
  .details-modal {
    left: 11em !important;
    width: 8em !important;
  }
  .offcanvas-title {
    font-size: 14px !important;
    padding: 16px 12px !important;
    justify-content: flex-start !important;
  }
  #ecommerceCartLabel {
    justify-content: center !important;
  }
}
.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}
